<!DOCTYPE html>
<html>
    <head>
        <title></title>

        <style>
            .fuente-roja { color: red; }
            .btn-azul { background: blue; }
        </style>
    </head>
    <body>

        <div id="root">
            <ul>
                <!-- <li v-for="nombre in nombres">{{ nombre }}</li> -->
                <li v-for="nombre in nombres" v-text="nombre"></li>
            </ul>

            <input id="input" type="text" v-model="nuevoNombre" :class="fuenteRoja">
            <button @click="agregaNombre" :title="title" :class="{ 'btn-azul': clickeado }">
                Agregar Nombre
            </button>
            <!-- <button v-on:click="agregaNombre" v-bind:title="title" v-bind:class="fuenteRoja">
                Agregar Nombre
            </button> -->
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <script>
            var app = new Vue ({
                el: '#root',

                data: {
                    nuevoNombre: '',
                    nombres: ['Juan', 'Maria', 'Francisca', 'Esteban'],
                    title: 'Si haces click agregaras un nuevo valor a la lista',
                    fuenteRoja: 'fuente-roja',
                    clickeado: false
                },
                
                methods: {
                    // ES2015 sintaxis para definir metodo
                    agregaNombre() {
                        this.nombres.push(this.nuevoNombre);

                        this.nuevoNombre = '';
                        this.clickeado = true;
                    }
                }
            })
        </script>
    </body>
</html>